/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");
/* line 5, ../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
}
/* line 10, ../sass/partials/_formulaire.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../sass/partials/_formulaire.scss */
body {
  font-family: "Montserrat-Regular";
  color: #000;
  font-size: 15px;
  margin: 0;
}

/* line 21, ../sass/partials/_formulaire.scss */
input, textarea, select, button {
  font-family: "Montserrat-Regular";
  color: #b82828;
  font-size: 15px;
}

/* line 26, ../sass/partials/_formulaire.scss */
p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
}

/* line 29, ../sass/partials/_formulaire.scss */
img {
  max-width: 100%;
}

/* line 32, ../sass/partials/_formulaire.scss */
ul {
  padding-left: 0;
  margin-bottom: 0;
}

/* line 36, ../sass/partials/_formulaire.scss */
a:hover {
  text-decoration: none;
}

/* line 39, ../sass/partials/_formulaire.scss */
:focus {
  outline: none;
}

/* line 42, ../sass/partials/_formulaire.scss */
.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url("../images/background.jpeg") no-repeat;
  background-size: cover;
}

/* line 49, ../sass/partials/_formulaire.scss */
.inner {
  max-width: 758px;
  margin: auto;
  background: #D3AF80;
  border: 10px solid #793015;
  padding: 77px 99px 87px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

/* line 61, ../sass/partials/_formulaire.scss */
textarea {
  resize: none;
}

/* line 64, ../sass/partials/_formulaire.scss */
h3 {
  text-transform: uppercase;
  font-size: 45px;
  font-family: "Montserrat-Bold";
  text-align: center;
  color: #000;
  margin-bottom: 12px;
}

/* line 72, ../sass/partials/_formulaire.scss */
p {
  text-align: center;
  padding: 0 10px;
  margin-bottom: 55px;
  line-height: 1.8;
}

/* line 78, ../sass/partials/_formulaire.scss */
.form-group-f {
  position: relative;
  display: block;
  margin-bottom: 48px;
}

/* line 82, ../sass/partials/_formulaire.scss */
.form-group-f span {
  font-size: 15px;
  color: #793015;
  position: absolute;
  top: 11px;
  transition: all .2s ease;
  transform-origin: 0 0;
  cursor: text;
}

/* line 90, ../sass/partials/_formulaire.scss */
.form-group-f span.border {
  height: 2px;
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 41px;
  transform: scaleX(0);
  transition: all .15s ease;
  background: #fff;
}

/* line 101, ../sass/partials/_formulaire.scss */
.form-control-f {
  border: none;
  border-bottom: 2px solid #793015;
  display: block;
  width: 100%;
  height: 43px;
  font-size: 15px;
  background: none;
  font-family: "Montserrat-SemiBold";
}

/* line 110, ../sass/partials/_formulaire.scss */
.form-control-f:focus, .form-control-f:valid {
  border-bottom: 2px solid #fff;
}

/* line 112, ../sass/partials/_formulaire.scss */
.form-control-f:focus + span, .form-control-f:valid + span {
  transform: translateY(-22px) scale(0.8);
}

/* line 114, ../sass/partials/_formulaire.scss */
.form-control-f:focus + span + .border, .form-control:valid + span + .border {
  transform: scaleX(1);
}

/* line 117, ../sass/partials/_formulaire.scss */
textarea.form-control-f {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 121, ../sass/partials/_formulaire.scss */
button {
  border: none;
  width: 162px;
  height: 51px;
  border: 2px solid #793015;
  margin: auto;
  margin-top: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: none;
  color: #000;
  text-transform: uppercase;
  font-family: "Montserrat-SemiBold";
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/* line 144, ../sass/partials/_formulaire.scss */
button i {
  margin-left: 10px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 154, ../sass/partials/_formulaire.scss */
button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #793015;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 173, ../sass/partials/_formulaire.scss */
button:hover {
  border-color: transparent;
}

/* line 175, ../sass/partials/_formulaire.scss */
button:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* line 178, ../sass/partials/_formulaire.scss */
button:hover i {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}

@media (max-width: 767px) {
  /* line 183, ../sass/partials/_formulaire.scss */
  h3 {
    font-size: 38px;
  }

  /* line 186, ../sass/partials/_formulaire.scss */
  p {
    font-size: 14px;
    padding: 0;
  }

  /* line 190, ../sass/partials/_formulaire.scss */
  .inner {
    padding: 27px 20px 37px;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
  }

  /* line 199, ../sass/partials/_formulaire.scss */
  .wrapper {
    background: #39459b;
    border: 10px solid #793015;
  }
}
/*# sourceMappingURL=style.css.map */
/* line 4, ../sass/partials/_admin.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 10, ../sass/partials/_admin.scss */
a {
  text-decoration: none;
}

/* line 14, ../sass/partials/_admin.scss */
li {
  list-style: none;
}

/* line 18, ../sass/partials/_admin.scss */
:root {
  --poppins: 'Poppins', sans-serif;
  --lato: 'Lato', sans-serif;
  --light: #F9F9F9;
  --blue: #3C91E6;
  --light-blue: #CFE8FF;
  --grey: #eee;
  --dark-grey: #AAAAAA;
  --dark: #342E37;
  --red: #DB504A;
  --yellow: #FFCE26;
  --light-yellow: #FFF2C6;
  --orange: #FD7238;
  --light-orange: #FFE0D3;
}

/* line 35, ../sass/partials/_admin.scss */
html {
  overflow-x: hidden;
}

/* line 39, ../sass/partials/_admin.scss */
body.dark {
  --light: #0C0C1E;
  --grey: #060714;
  --dark: #FBFBFB;
}

/* line 45, ../sass/partials/_admin.scss */
body {
  background: var(--grey);
  overflow-x: hidden;
}

/* SIDEBAR */
/* line 55, ../sass/partials/_admin.scss */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: var(--light);
  z-index: 2000;
  font-family: var(--lato);
  transition: .3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
}

/* line 68, ../sass/partials/_admin.scss */
#sidebar::--webkit-scrollbar {
  display: none;
}

/* line 71, ../sass/partials/_admin.scss */
#sidebar.hide {
  width: 60px;
}

/* line 74, ../sass/partials/_admin.scss */
#sidebar .brand {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: var(--blue);
  position: sticky;
  top: 0;
  left: 0;
  background: var(--light);
  z-index: 500;
  padding-bottom: 20px;
  box-sizing: content-box;
}

/* line 89, ../sass/partials/_admin.scss */
#sidebar .brand .bx {
  min-width: 60px;
  display: flex;
  justify-content: center;
}

/* line 94, ../sass/partials/_admin.scss */
#sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
}

/* line 98, ../sass/partials/_admin.scss */
#sidebar .side-menu li {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  padding: 4px;
}

/* line 105, ../sass/partials/_admin.scss */
#sidebar .side-menu li.active {
  background: var(--grey);
  position: relative;
}

/* line 109, ../sass/partials/_admin.scss */
#sidebar .side-menu li.active::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 var(--grey);
  z-index: -1;
}

/* line 120, ../sass/partials/_admin.scss */
#sidebar .side-menu li.active::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  box-shadow: 20px -20px 0 var(--grey);
  z-index: -1;
}

/* line 131, ../sass/partials/_admin.scss */
#sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden;
}

/* line 143, ../sass/partials/_admin.scss */
#sidebar .side-menu.top li.active a {
  color: var(--blue);
}

/* line 146, ../sass/partials/_admin.scss */
#sidebar.hide .side-menu li a {
  width: calc(48px - (4px * 2));
  transition: width .3s ease;
}

/* line 150, ../sass/partials/_admin.scss */
#sidebar .side-menu li a.logout {
  color: var(--red);
}

/* line 153, ../sass/partials/_admin.scss */
#sidebar .side-menu.top li a:hover {
  color: var(--blue);
}

/* line 156, ../sass/partials/_admin.scss */
#sidebar .side-menu li a .bx {
  min-width: calc(60px  - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}

/* SIDEBAR */
/* CONTENT */
/* line 168, ../sass/partials/_admin.scss */
#content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: .3s ease;
}

/* line 174, ../sass/partials/_admin.scss */
#sidebar.hide ~ #content {
  width: calc(100% - 60px);
  left: 60px;
}

/* NAVBAR */
/* line 183, ../sass/partials/_admin.scss */
#content nav {
  height: 56px;
  background: var(--light);
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  font-family: var(--lato);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* line 196, ../sass/partials/_admin.scss */
#content nav::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--light);
}

/* line 206, ../sass/partials/_admin.scss */
#content nav a {
  color: var(--dark);
}

/* line 209, ../sass/partials/_admin.scss */
#content nav .bx.bx-menu {
  cursor: pointer;
  color: var(--dark);
}

/* line 213, ../sass/partials/_admin.scss */
#content nav .nav-link {
  font-size: 16px;
  transition: .3s ease;
}

/* line 217, ../sass/partials/_admin.scss */
#content nav .nav-link:hover {
  color: var(--blue);
}

/* line 220, ../sass/partials/_admin.scss */
#content nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}

/* line 225, ../sass/partials/_admin.scss */
#content nav form .form-input {
  display: flex;
  align-items: center;
  height: 36px;
}

/* line 230, ../sass/partials/_admin.scss */
#content nav form .form-input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: var(--grey);
  border-radius: 36px 0 0 36px;
  outline: none;
  width: 100%;
  color: var(--dark);
}

/* line 241, ../sass/partials/_admin.scss */
#content nav form .form-input button {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue);
  color: var(--light);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}

/* line 255, ../sass/partials/_admin.scss */
#content nav .notification {
  font-size: 20px;
  position: relative;
}

/* line 259, ../sass/partials/_admin.scss */
#content nav .notification .num {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--light);
  background: var(--red);
  color: var(--light);
  font-weight: 700;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 275, ../sass/partials/_admin.scss */
#content nav .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}

/* line 281, ../sass/partials/_admin.scss */
#content nav .switch-mode {
  display: block;
  min-width: 50px;
  height: 25px;
  border-radius: 25px;
  background: var(--grey);
  cursor: pointer;
  position: relative;
}

/* line 290, ../sass/partials/_admin.scss */
#content nav .switch-mode::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: calc(25px - 4px);
  background: var(--blue);
  border-radius: 50%;
  transition: all .3s ease;
}

/* line 301, ../sass/partials/_admin.scss */
#content nav #switch-mode:checked + .switch-mode::before {
  left: calc(100% - (25px - 4px) - 2px);
}

/* NAVBAR */
/* MAIN */
/* line 311, ../sass/partials/_admin.scss */
#content main {
  width: 100%;
  padding: 36px 24px;
  font-family: var(--poppins);
  max-height: calc(100vh - 56px);
  overflow-y: auto;
}

/* line 318, ../sass/partials/_admin.scss */
#content main .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}

/* line 325, ../sass/partials/_admin.scss */
#content main .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}

/* line 331, ../sass/partials/_admin.scss */
#content main .head-title .left .breadcrumb {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}

/* line 336, ../sass/partials/_admin.scss */
#content main .head-title .left .breadcrumb li {
  color: var(--dark);
}

/* line 339, ../sass/partials/_admin.scss */
#content main .head-title .left .breadcrumb li a {
  color: var(--dark-grey);
  pointer-events: none;
}

/* line 343, ../sass/partials/_admin.scss */
#content main .head-title .left .breadcrumb li a.active {
  color: var(--blue);
  pointer-events: unset;
}

/* line 347, ../sass/partials/_admin.scss */
#content main .head-title .btn-download {
  height: 36px;
  padding: 0 16px;
  border-radius: 36px;
  background: var(--blue);
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  font-weight: 500;
}

/* line 363, ../sass/partials/_admin.scss */
#content main .box-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 24px;
  margin-top: 36px;
}

/* line 369, ../sass/partials/_admin.scss */
#content main .box-info li {
  padding: 24px;
  background: var(--light);
  border-radius: 20px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
}

/* line 377, ../sass/partials/_admin.scss */
#content main .box-info li .bx {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 386, ../sass/partials/_admin.scss */
#content main .box-info li:nth-child(1) .bx {
  background: var(--light-blue);
  color: var(--blue);
}

/* line 390, ../sass/partials/_admin.scss */
#content main .box-info li:nth-child(2) .bx {
  background: var(--light-yellow);
  color: var(--yellow);
}

/* line 394, ../sass/partials/_admin.scss */
#content main .box-info li:nth-child(3) .bx {
  background: var(--light-orange);
  color: var(--orange);
}

/* line 398, ../sass/partials/_admin.scss */
#content main .box-info li .text h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark);
}

/* line 403, ../sass/partials/_admin.scss */
#content main .box-info li .text p {
  color: var(--dark);
}

/* line 411, ../sass/partials/_admin.scss */
#content main .table-data {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  margin-top: 24px;
  width: 100%;
  color: var(--dark);
}

/* line 419, ../sass/partials/_admin.scss */
#content main .table-data > div {
  border-radius: 20px;
  background: var(--light);
  padding: 24px;
  overflow-x: auto;
}

/* line 425, ../sass/partials/_admin.scss */
#content main .table-data .head {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px;
}

/* line 431, ../sass/partials/_admin.scss */
#content main .table-data .head h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
}

/* line 436, ../sass/partials/_admin.scss */
#content main .table-data .head .bx {
  cursor: pointer;
}

/* line 440, ../sass/partials/_admin.scss */
#content main .table-data .order {
  flex-grow: 1;
  flex-basis: 500px;
}

/* line 444, ../sass/partials/_admin.scss */
#content main .table-data .order table {
  width: 100%;
  border-collapse: collapse;
}

/* line 448, ../sass/partials/_admin.scss */
#content main .table-data .order table th {
  padding-bottom: 12px;
  font-size: 13px;
  text-align: left;
  border-bottom: 1px solid var(--grey);
}

/* line 454, ../sass/partials/_admin.scss */
#content main .table-data .order table td {
  padding: 16px 0;
}

/* line 457, ../sass/partials/_admin.scss */
#content main .table-data .order table tr td:first-child {
  display: flex;
  align-items: center;
  grid-gap: 12px;
  padding-left: 6px;
}

/* line 463, ../sass/partials/_admin.scss */
#content main .table-data .order table td img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

/* line 469, ../sass/partials/_admin.scss */
#content main .table-data .order table tbody tr:hover {
  background: var(--grey);
}

/* line 472, ../sass/partials/_admin.scss */
#content main .table-data .order table tr td .status {
  font-size: 10px;
  padding: 6px 16px;
  color: var(--light);
  border-radius: 20px;
  font-weight: 700;
}

/* line 479, ../sass/partials/_admin.scss */
#content main .table-data .order table tr td .status.completed {
  background: var(--blue);
}

/* line 482, ../sass/partials/_admin.scss */
#content main .table-data .order table tr td .status.process {
  background: var(--yellow);
}

/* line 485, ../sass/partials/_admin.scss */
#content main .table-data .order table tr td .status.pending {
  background: var(--orange);
}

/* line 490, ../sass/partials/_admin.scss */
#content main .table-data .todo {
  flex-grow: 1;
  flex-basis: 300px;
}

/* line 494, ../sass/partials/_admin.scss */
#content main .table-data .todo .todo-list {
  width: 100%;
}

/* line 497, ../sass/partials/_admin.scss */
#content main .table-data .todo .todo-list li {
  width: 100%;
  margin-bottom: 16px;
  background: var(--grey);
  border-radius: 10px;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 507, ../sass/partials/_admin.scss */
#content main .table-data .todo .todo-list li .bx {
  cursor: pointer;
}

/* line 510, ../sass/partials/_admin.scss */
#content main .table-data .todo .todo-list li.completed {
  border-left: 10px solid var(--blue);
}

/* line 513, ../sass/partials/_admin.scss */
#content main .table-data .todo .todo-list li.not-completed {
  border-left: 10px solid var(--orange);
}

/* line 516, ../sass/partials/_admin.scss */
#content main .table-data .todo .todo-list li:last-child {
  margin-bottom: 0;
}

/* MAIN */
/* CONTENT */
@media screen and (max-width: 768px) {
  /* line 531, ../sass/partials/_admin.scss */
  #sidebar {
    width: 200px;
  }

  /* line 535, ../sass/partials/_admin.scss */
  #content {
    width: calc(100% - 60px);
    left: 200px;
  }

  /* line 540, ../sass/partials/_admin.scss */
  #content nav .nav-link {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  /* line 551, ../sass/partials/_admin.scss */
  #content nav form .form-input input {
    display: none;
  }

  /* line 555, ../sass/partials/_admin.scss */
  #content nav form .form-input button {
    width: auto;
    height: auto;
    background: transparent;
    border-radius: none;
    color: var(--dark);
  }

  /* line 563, ../sass/partials/_admin.scss */
  #content nav form.show .form-input input {
    display: block;
    width: 100%;
  }

  /* line 567, ../sass/partials/_admin.scss */
  #content nav form.show .form-input button {
    width: 36px;
    height: 100%;
    border-radius: 0 36px 36px 0;
    color: var(--light);
    background: var(--red);
  }

  /* line 575, ../sass/partials/_admin.scss */
  #content nav form.show ~ .notification,
  #content nav form.show ~ .profile {
    display: none;
  }

  /* line 580, ../sass/partials/_admin.scss */
  #content main .box-info {
    grid-template-columns: 1fr;
  }

  /* line 584, ../sass/partials/_admin.scss */
  #content main .table-data .head {
    min-width: 420px;
  }

  /* line 587, ../sass/partials/_admin.scss */
  #content main .table-data .order table {
    min-width: 420px;
  }

  /* line 590, ../sass/partials/_admin.scss */
  #content main .table-data .todo .todo-list {
    min-width: 420px;
  }
}
/* line 13, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dongle', sans-serif;
  scroll-behavior: smooth;
}

/* line 21, ../sass/screen.scss */
#navbar {
  padding: 8px 3px;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0px;
  z-index: 0;
  left: 0px;
  background-color: #ffffff99;
}

/* line 36, ../sass/screen.scss */
#navbar .logo img {
  cursor: pointer;
  width: 12rem;
}

/* line 41, ../sass/screen.scss */
#navbar ul {
  display: flex;
}

/* line 45, ../sass/screen.scss */
#navbar ul li {
  list-style: none;
}

/* line 49, ../sass/screen.scss */
#navbar ul li a {
  text-decoration: none;
  font-size: 2rem;
  color: black;
  padding: 4px 18px;
  border-radius: 15px;
  margin: 0px 10px;
  font-weight: bold;
}

/* line 59, ../sass/screen.scss */
#navbar ul li a:hover {
  color: #a90f20;
}

/* line 63, ../sass/screen.scss */
#home {
  width: 100%;
  height: 65vh;
}

/* line 68, ../sass/screen.scss */
.home-left h2 {
  padding: 7px;
  border: 2px dotted #3d2514;
}

/* line 73, ../sass/screen.scss */
.home-left h3 {
  position: relative;
  bottom: 8px;
  font-size: 2.2rem;
}

/* line 79, ../sass/screen.scss */
.divider {
  margin: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* line 86, ../sass/screen.scss */
.burger-home {
  width: 330px;
  padding: 20px;
  cursor: pointer;
  transition: 1s all;
}

/* line 93, ../sass/screen.scss */
.burger-home:hover {
  transform: translateY(-15px);
}

/* line 97, ../sass/screen.scss */
.bottom-container {
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* line 104, ../sass/screen.scss */
.home-bottom-left {
  background-image: url(Images/burger1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15px;
  width: 100%;
  height: 420px;
  border-radius: 10px;
  background-position: center;
}

/* line 115, ../sass/screen.scss */
.home-bottom-right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* line 122, ../sass/screen.scss */
.home-bottom-right img {
  margin: 25px;
  border-radius: 10px;
}

/* line 127, ../sass/screen.scss */
.center-div {
  margin-top: 20px;
}

/* line 131, ../sass/screen.scss */
.center-div h1,
p {
  margin: 15px 0px;
}

/* line 136, ../sass/screen.scss */
.burger-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

/* line 144, ../sass/screen.scss */
.burger-item {
  padding: 10px;
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* line 152, ../sass/screen.scss */
.burger-item img {
  width: 240px;
  cursor: pointer;
  transition: 1s all;
}

/* line 158, ../sass/screen.scss */
.burger-item img:hover {
  transform: scale(1.1);
}

/* line 162, ../sass/screen.scss */
#event-container {
  margin-top: 20px;
  width: 100%;
  padding: 30px 70px;
}

/* line 168, ../sass/screen.scss */
.event-item {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 13px 23px 4px black;
  border-radius: 20px;
}

/* line 178, ../sass/screen.scss */
.event-item img {
  width: 60%;
  border-radius: 13px;
}

/* line 183, ../sass/screen.scss */
.event-content {
  margin: 0px 20px;
}

/* line 187, ../sass/screen.scss */
.event-para {
  padding: 2px -2px;
  line-height: 30px;
  text-align: left;
  font-size: 20px;
}

/* line 194, ../sass/screen.scss */
#burger-footer {
  width: 100%;
  padding: 25px;
}

/* line 199, ../sass/screen.scss */
.footer-bg {
  height: 100%;
  width: 100%;
  background-image: url("Images/footerBg.jpg");
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 50px;
}

/* line 209, ../sass/screen.scss */
.left-footer {
  margin: 30px;
}

/* line 213, ../sass/screen.scss */
.right-footer {
  margin-top: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

/* line 219, ../sass/screen.scss */
.left-footer .color-white {
  padding-right: 100px;
}

/* line 223, ../sass/screen.scss */
.left-footer img {
  cursor: pointer;
  width: 300px;
}

/* line 228, ../sass/screen.scss */
.left-footer p {
  line-height: 30px;
}

/* line 232, ../sass/screen.scss */
footer {
  background-color: #ffC045;
  padding: 15px;
}

/* line 237, ../sass/screen.scss */
h1,
h2,
h3 {
  color: white;
}

/* line 243, ../sass/screen.scss */
.color-white {
  color: white;
}

/* line 247, ../sass/screen.scss */
.btn-heading {
  color: black;
  background-color: #ffC045;
  padding: 5px 15px;
  display: block;
  width: 18%;
  margin: 0 auto;
}

/* line 256, ../sass/screen.scss */
.center {
  text-align: center;
}

/* line 260, ../sass/screen.scss */
.h-primary {
  font-size: 5rem;
  line-height: 111px;
  cursor: pointer;
}

/* line 266, ../sass/screen.scss */
.color-primary {
  color: #3d2514;
}

/* line 271, ../sass/screen.scss */
.h-secondary {
  font-size: 1.4rem;
}

/* line 275, ../sass/screen.scss */
.normal-hading {
  font-size: 2rem;
}

/* line 279, ../sass/screen.scss */
.order-btn {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  padding: 7px 18px;
  border-radius: 15px;
  border: 2px solid white;
  background-color: #bf2222;
}

/* line 289, ../sass/screen.scss */
.order-btn:hover {
  background-color: white;
  border: 2px solid #bf2222;
  border-radius: 15px;
  color: #bf2222;
}

/* line 296, ../sass/screen.scss */
.burger-item p {
  font-size: 1.4rem;
  padding: 0px 50px;
}

/* line 301, ../sass/screen.scss */
.para-font,
.p {
  font-size: 1.5rem;
}

/* line 306, ../sass/screen.scss */
.center-heading,
.burger-heading {
  font-size: 2rem;
}

@media screen and (max-width: 900px) {
  /* line 312, ../sass/screen.scss */
  #navbar {
    background: none;
    position: sticky;
    background: white;
  }

  /* line 318, ../sass/screen.scss */
  .bottom-container {
    flex-direction: column;
  }

  /* line 322, ../sass/screen.scss */
  .home-bottom-left {
    height: 420px;
    width: 90%;
  }

  /* line 327, ../sass/screen.scss */
  .event-item {
    flex-direction: column;
  }

  /* line 331, ../sass/screen.scss */
  .btn-heading {
    width: 30%;
  }

  /* line 335, ../sass/screen.scss */
  .event-content .event-para,
  h2 {
    text-align: center;
  }

  /* line 340, ../sass/screen.scss */
  .footer-bg {
    flex-direction: column;
    text-align: center;
  }

  /* line 345, ../sass/screen.scss */
  .burger-container {
    flex-direction: column;
  }

  /* line 349, ../sass/screen.scss */
  #navbar ul {
    display: none;
    flex-direction: column;
    position: absolute;
    padding-top: 65px;
    padding-right: 110px;
    top: 0;
    right: 0%;
    background: #fff6e5;
    border-radius: 10px;
    opacity: 0.8;
    width: 100%;
    height: 100vh;
  }

  /* line 364, ../sass/screen.scss */
  #navbar ul li {
    margin: 13px s5px;
  }

  /* line 368, ../sass/screen.scss */
  .menu {
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    right: 5%;
  }

  /* line 380, ../sass/screen.scss */
  .one {
    position: relative;
    border: 2px solid #3d2514;
    border-radius: 8px;
    width: 60%;
    margin: 2px;
  }

  /* line 388, ../sass/screen.scss */
  .one::after {
    content: '';
    position: absolute;
    top: 4px;
    left: -2px;
    width: 100%;
    border: 2px solid #3d2514;
    border-radius: 8px;
  }

  /* line 398, ../sass/screen.scss */
  .one::before {
    content: '';
    position: absolute;
    bottom: 4px;
    left: -2px;
    width: 100%;
    border: 2px solid #3d2514;
    border-radius: 8px;
  }
}
/* line 410, ../sass/screen.scss */
.left-footer .color-white {
  padding: 0px;
}

/* line 414, ../sass/screen.scss */
.right-footer {
  margin-right: 0px;
}

@media screen and (max-width: 702px) {
  /* line 421, ../sass/screen.scss */
  .divider {
    flex-direction: column;
  }

  /* line 425, ../sass/screen.scss */
  .home-bottom {
    margin-top: 15%;
  }

  /* line 429, ../sass/screen.scss */
  #home::before {
    height: 90%;
  }

  /* line 433, ../sass/screen.scss */
  .home-bottom-right img {
    padding: 20px;
    margin: 0px auto;
    width: 90%;
  }

  /* line 439, ../sass/screen.scss */
  #event-container {
    padding: 14px 23px;
  }

  /* line 443, ../sass/screen.scss */
  .event-content {
    margin: 0px;
  }

  /* line 447, ../sass/screen.scss */
  .burger-home {
    width: 70%;
  }

  /* line 451, ../sass/screen.scss */
  .h-primary {
    font-size: 3rem;
    text-align: center;
  }

  /* line 456, ../sass/screen.scss */
  .h-secondary {
    text-align: center;
  }

  /* line 460, ../sass/screen.scss */
  .left-footer .color-white {
    padding: 2px 25px;
  }

  /* line 464, ../sass/screen.scss */
  .right-footer {
    font-size: 16px;
  }
}
